/* CSS for the Top Menu area of Zermatt Vacations.com site */
body {
	background-color: #ffffff;
	font: 11px/17px verdana, arial, sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
    color: #333;
}

/* Makes the top Menu background grey stripes */
#menu_back {
	z-index: 100;
	margin: 0;
	width: 100%;
	height: 102px;
	background-color: rgb(100%,100%,100%);
	position: absolute;
	top: 0;
	left: 0;
}
#menu_dark {
	margin: 0;
	margin-top: 21px;
	width: 100%;
	height: 45px;
	background-color: rgb(20%,20%,20%);
}
#menu_light {
	margin: 0;
	width: 100%;
	height: 38px;
	background-color: rgb(80%,80%,80%);
}
/* Main logo box at top */
#main_logo {
	z-index: 200;
	margin: 0;
	width: 100%;
	height: 82px;
	background-position: top center;
	background-repeat: no-repeat;
	background-image: url(../global-pics/menu-logo.jpg);
	position: absolute;
	top: 0;
	left: 0;
}
#main_logo a, #main_logo a:hover{
	width: 318px;
	height: 82px;
	display: block;
	margin: 0; padding:0;
	text-align: center;
	text-decoration: none;
	margin-left: auto; margin-right: auto;
	text-decoration: none;
	border-bottom-style: none;
}
/* The Main Menu bar at the top */
#main_center {
	z-index: 150;
	margin: 0;
	width: 100%;
	position: absolute;
	top: 91px;
	left: 0;
}
#menu {
	margin: 0 auto;
	height: 26px;
	width: 750px;
	top: 91px;
}

div.button {
	float: left;
	width: 150px; height: 26px;
	top: 0;
	left: 0;
	margin: 0;
	background-image: url(../global-pics/button.jpg);
	background-repeat: no-repeat;
}
div.button a:hover {
	background-position: -150px 0;
	color: black;
	text-decoration: none;
	border-bottom-style: none;
}
div.outer a:active {
	color: black;
	text-decoration: none;
	border-bottom-style: none;
}

div.button a {
	display: block;
	margin: 0; padding:0;
	width:100%; height:100%;
	overflow: hidden;
	font: 11px/15px verdana, arial, sans-serif;
	letter-spacing: 0.06em;
	text-align: center;
	text-decoration: none;
	color: black;
	font-weight: bold;
	background-image: url(../global-pics/button.jpg);
	background-repeat: no-repeat;
	text-decoration: none;
	border-bottom-style: none;
}
div.button span {
	display: block;
	margin: 0; 
	padding: 5px 0 0 0;
}

